 # mainhead{
	margin: auto;
	
}

h1
{
	font-size: 150%;
}

.Movie_format
{
	margin:0px auto;
	padding:10px;
}


.Main_Display {
	Margin:auto;
	text-align:center;
	justify-content: space-around;
	display: flex;                       
	flex-wrap: wrap;
}
.Main_Cell{
	flex: 0 0 32%;                     
	height: 32%;
	margin-bottom: 10px;
	background-color: #DCDCDC;
}
